@using SpotifyAPI.Web.Models
@model List<SimplePlaylist>
<p>Select a playlist</p>
<div class="list-group">
    @foreach (SimplePlaylist playlist in Model)
    {
        <span class="list-group-item list-group-item-action custom-list-group-item-playlist">
            @*@if (playlist.Images != null && playlist.Images.Count > 0)
            {
            <img src="@playlist.Images[0].Url">
            }*@
            <button type="button" class="btn btn-success" onclick="javascript:addToPlaylist('@(playlist.Id)')"> + </button>
            <a href="javascript:addToPlaylist('@(playlist.Id)')"
               data-toggle="tooltip" data-placement="top" title="" data-original-title="Tooltip on top">
                @(playlist.Name)
                <span>(@(playlist.Tracks != null ? playlist.Tracks.Total.ToString() : "0" ))</span>
            </a>
        </span>
    }
</div>