@using SpotifyAPI.Web.Models
@model Paging<SavedTrack>

@if (Model != null && Model.Items != null)
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col"></th>
                <th scope="col">Title - Artist</th>
            </tr>
        </thead>
        <tbody>

            @foreach (SavedTrack saved in Model.Items)
            {
                FullTrack track = saved.Track;
                <tr>
                    <td scope="row" style="width:47px;">
                        <div class="number-playback-pic" playback="@track.PreviewUrl" trackName="@HttpUtility.JavaScriptStringEncode(track.Name)">
                            <span class="player">
                                <span class="play-pause"></span>
                            </span>

                            <img class="track-image" src="~/src/web/images/head-logo.png" preview-url="@track.PreviewUrl" />
                        </div>
                    </td>
                    <td style="width:54px;">
                        <button type="button" class="btn btn-success" onclick="javascript:select('@track.Id', '@HttpUtility.JavaScriptStringEncode(track.Name)', '@track.Artists[0].Id', '@HttpUtility.JavaScriptStringEncode(track.Artists[0].Name)', false, false, false, true);"> + </button>
                    </td>
                    <td>
                        @{
                            var artistNames = string.Join(" - ", track.Artists.Select(a => a.Name));
                            var trackNameArtistNames = string.Format("{0} - {1}", track.Name, artistNames);
                        }
                        <span class="trackName">@Html.RouteLink(track.Name, "Search", new { q = trackNameArtistNames }, new { title = trackNameArtistNames })</span>
                        <span class="artistName">@track.Artists.First().Name</span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}