@using SpotifyAPI.Web.Models
@model web.Controllers.SearchResult

<div class="navbar navbar-default">
    <div class="navbar-header">
        <a class="navbar-brand" href="#"><img src="~/src/web/images/logo.png" /></a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <form action="~/search" method="GET" class="navbar-form navbar-left">
            <input type="text" id="q" name="q" placeholder="Search Track, Artist" class="form-control col-lg-8"
                   value="@Model.query">
        </form>
        <ul class="nav navbar-nav navbar-right">
            @if (Model.Profile != null)
            {

                if (Model.Profile.Images != null && Model.Profile.Images.Count > 0)
                {
                    <li><img width="38" height="38" src="@Model.Profile.Images[0].Url"></li>
                }
                <li><a href="javascript:void(0);">@Model.Profile.DisplayName</li>
            }
        </ul>
    </div>
</div>
<div class="main">
    @if (Model != null)
    {
        if (!Model.SearchItem.HasError())
        {
            if (Model.SearchItem.Tracks.Total > 0)
            {
                <div class="list-group">
                    <a href="#" class="list-group-item active">
                        Tracks
                    </a>
                    @foreach (FullTrack track in Model.SearchItem.Tracks.Items)
                    {
                        <div class="tracks" playback="@track.PreviewUrl">
                            @if (track.PreviewUrl != null)
                            {
                                <span class="player">            <span class="play-pause"></span>                </span>
                            }
                            <a href="javascript:void(0)" onclick="select('@track.Id','track');" class="list-group-item">
                                <input type="radio" name="trackRadio" id="@track.Id" value="@track.Uri" class="track" />

                                @if (track.Album.Images.Count > 0)
                                {
                                    <img class="track-image" src="@track.Album.Images[0].Url" preview-url="@track.PreviewUrl" />
                                }
                                else
                                {
                                    <img class="track-image" src="~/src/web/images/noimage.png" preview-url="@track.PreviewUrl" />
                                }
                                @track.Artists[0].Name  - @track.Name
                            </a>
                        </div>
                    }


                </div>


                <div class="list-group">
                    <a href="#" class="list-group-item active">
                        Playlist
                    </a>
                    @if (Model.Playlists != null && Model.Playlists.Items != null)
                    {
                        foreach (SimplePlaylist playlist in Model.Playlists.Items)
                        {
                            if (playlist.Owner.Id == Model.Profile.Id)
                            {
                                <a href="javascript:void(0);" onclick="select('@playlist.Id','playlist');" class="list-group-item">
                                    <input type="radio" name="playlistRadio" id="@playlist.Id" class="playlist"
                                           value="@playlist.Id" />
                                    @playlist.Name
                                </a>
                            }
                        }
                    }
                    else
                    {
                        <br />
                        <h4 class="text-center">
                            You are not login to Spotify.
                            <br />
                            Please <a href="/authorize">login</a> with Spotify account and add the song to your Spotify playlist

                            <br />
                            <a href="/authorize" class="btn btn-primary">login</a>
                            <br />
                        </h4>
                        <h5 class="text-center">
                            You will be redirecting to Spotify page. After you login, you will came back this
                            page
                        </h5>
                    }


                    <div class="list-group-create-playlist">
                        <a href="#" class="list-group-item active">
                            Create Playlist
                        </a>

                        
                        <input type="text" id="playlist" name="playlist" placeholder="Create a new playlist" class="form-control col-lg-8">
                        <script type="text/javascript">
                            $("#playlist").keypress(function (e) {
                                if (e.which == 13) {
                                    $("#playlist").blur();
                                    $("#playlist").hide();
                                    var dataJson = {};
                                    dataJson.name = $("#playlist").val();

                                    $.ajax({
                                        type: "POST",
                                        url: "api/createplaylist",
                                        data: dataJson,
                                        success: function (fullPlaylist) {
                                            if (fullPlaylist.error == null) {
                                                showMessage("Playlist has been added successfully!");
                                                location.href = location.href;
                                            } else {
                                                showError("Playlist has not been added");

                                            }
                                            $("#loading").hide();
                                        },
                                        error: function (xhr, textStatus, err) {
                                            showError(err);
                                            $("#loading").hide();

                                        }
                                    });
                                }
                            });
                        </script>
                    </div>
                </div>

                @*<div class="list-group list-group-button">
                    <a href="javascript:void(0);" class="btn btn-success add-to-playlist-button">Add to playlist</a>
                    <span id="loading" style="display: none;"><img src="/src/web/images/loading.gif" width="25" height="25" /></span>

                    <div class="resultError text-primary"></div>
                    <div class="resultSuccess text-success"></div>

                </div>*@
                <script type="text/javascript">

                    function select(_this, listName) {
                        console.log(_this);
                        if (listName == 'track') {
                            $(".track").prop("checked", false);
                            showMessage('track selected. select a playlist to add into it!');

                            $("#" + _this).prop("checked", true);
                             
                            $(".playlist").prop("checked", false);

                            $('html, body').animate({
                                scrollTop: "0"
                            }, 500);

                        } else if (listName == 'playlist') {
                            $(".playlist").prop("checked", false);
                            $("#" + _this).prop("checked", true);
                            addIntoPlaylist();
                        }

                        
                    }

                    //$(".add-to-playlist-button").click(function () {
                        

                    //});
                    function addIntoPlaylist() {
                        $("#loading").show();

                        if ($("input[name=trackRadio]:checked").length > 0 && $("input[name=playlistRadio]:checked").length > 0) {

                            var dataJson = {};
                            dataJson.playlistId = $("input[name=playlistRadio]:checked").val();
                            dataJson.track = $("input[name=trackRadio]:checked").val();
                            $.ajax({
                                type: "POST",
                                url: "api/playlist",
                                data: dataJson,
                                success: function (errorResponse) {
                                    if (errorResponse.error == null) {
                                        showMessage("Track has been added successfully!");
                                    } else {
                                        showError("Track has not been added");
                                    }
                                    $("#loading").hide();
                                },
                                error: function (xhr, textStatus, err) {
                                    $("#loading").hide();
                                }
                            });

                        } else {
                            showError('please select a track and a playlist');
                            $("#loading").hide();
                        }
                    }

                    function showError(msg) {
                        toastr.error(msg);
                        $(".resultError").show();
                        $(".resultSuccess").hide();
                    }

                    function showMessage(msg) {
                        $(".resultError").hide();
                        $(".resultSuccess").show();
                        toastr.success(msg);
                    }

                    var trackId = '@Model.track';
                    if (trackId != '') {
                        select(trackId, 'track');
                    }
                </script>
            }
            else
            {
                <p class="text-success text-center">
                    <strong>Oh snap!</strong>
                    No tracks found
                </p>
            }
        }
        else
        {
            <p class="text-success text-center">
                <strong>Oh snap!</strong>
            </p>
        }
    }
    else
    {
        <p class="text-success text-center">
            <strong>Oh snap!</strong>
            There is an error (may be you should try it again!)
        </p>
    }




</div>
