@using SpotifyAPI.Web.Models
@model List<FullTrack>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col"></th>
            <th scope="col">Title</th>
            <th scope="col">Artists</th>
            <th scope="col">Album</th>
            <th scope="col">Time</th>
        </tr>
    </thead>
    <tbody>
        @foreach (FullTrack track in Model)
        {
            
                <tr>
                    <td scope="row">
                        @if (track.Album.Images.Count > 0)
                        {
                            <img class="track-image" src="@track.Album.Images[0].Url" preview-url="@track.PreviewUrl" />
                        }
                        else
                        {
                            <img class="track-image" src="/src/web/images/noimage.png" preview-url="@track.PreviewUrl" />
                        }
                    </td>
                    <td>
                        <button type="button" class="btn btn-success" onclick="javascript:select('@track.Id', '@HttpUtility.JavaScriptStringEncode(track.Name)', '@track.Artists[0].Id', true);"> + </button>
                         
                    </td>
                    <td><span class="trackName">@track.Name</span></td>
                    <td><span class="artistName">@track.Artists[0].Name</span></td>
                    <td><span>@track.Album.Name</span></td>
                    <td>
                         
                            @{
                                TimeSpan t = TimeSpan.FromMilliseconds(track.DurationMs);
                                string time = string.Format("{0:D2}:{1:D2}",
                                t.Minutes,
                                t.Seconds
                                );
                            }
                            @time
                         
                    </td>
                </tr>
            
          }



    </tbody>
</table> 