@using System.Linq;
@model web.Models.SearchResult

@section MetaTags
{
    <meta name="robots" content="noindex" />
}

<div class="col-lg-8">
    @if (Model != null && !string.IsNullOrEmpty(Model.query))
    {

        <h4>@Html.RouteLink(Model.query, "Search", new { q = Model.query }, new { title = Model.query })</h4>
        if (Model != null && Model.SearchItem != null)
        {
            if (!Model.SearchItem.HasError() && Model.SearchItem.Tracks.Total > 0)
            {

                @Html.Partial("_SongList", Model.SearchItem.Tracks.Items)

                var top5 = Model.SearchItem.Tracks.Items.Take(1);

                <script type="text/javascript">
            loadRecommendedSongs('@(string.Join(",", top5.Select(t => t.Id)))',
                '@string.Join(",", top5.Select(t => t.Artists.First().Id))', function (response) {
                    $('.custom-recommendedSongs').html(response);
                    $('.custom-recommendedSongs').show();
                    $('.custom-title-recommendedSongs').show();
                });
                </script>

            }
            else
            {
                <div class="alert alert-dismissible alert-primary">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Ooops!</strong>
                    Your search <strong>"@(Model.query)"</strong> did not match any titles, artists in Spotify.<br />
                    Try<br />
                    <ul>
                        <li>
                            Using 'Song name Artist name' example: 'Hello Adele'
                        </li>
                        <li>Checking your spelling, Clean some invalid characters in search</li>
                    </ul>
                </div>
                <script type="text/javascript">
        gaEvent.track.notFound('@HttpUtility.JavaScriptStringEncode(Model.query)');
                </script>
            }

            <script>
                loadSearch();
            </script>
        }

        <script type="text/javascript">
        gaEvent.track.searched('@HttpUtility.JavaScriptStringEncode(Model.query)');
        </script>
    }
</div>
<div class="col-lg-4">
    <h6 class="custom-title-recommendedSongs" style="display:none;">Recommended</h6>
    <span class="custom-recommendedSongs" style="display:none;"></span>
    <h3 class="custom-title-recentlyPlayedTracks" style="display:none;">Recently Played</h3>
    <span class="custom-recentlyPlayedTracks" style="display:none;"></span>
    <h3 class="custom-title-savedTracks" style="display:none;">Saved Tracks</h3>
    <span class="custom-savedTracks" style="display:none;"></span>
</div>
