@using SpotifyAPI.Web.Models
@model web.Models.SearchResult

@if (Model != null && Model.SearchItem != null)
{
    if (!Model.SearchItem.HasError() && Model.SearchItem.Tracks.Total > 0)
    {

        @Html.Partial("_SongList", Model.SearchItem.Tracks.Items)
        <span class="custom-playlistList" style="display:none;">@Html.Partial("_PlaylistList", Model.Playlists.Items)</span>
        <h3 class="custom-title-recommendedSongs" style="display:none;margin-top: 60px;"></h3>
        <span class="custom-recommendedSongs" style="display:none;"></span>

            }
            else
            {
            <div class="alert alert-dismissible alert-primary">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Ooops!</strong>
                Your search <strong>"@(Model.query)"</strong> did not match any titles, artists in Spotify.<br />
                Try<br />
                <ul>
                    <li>
                        Using 'Song name Artist name' example: 'Hello Adele'
                    </li>
                    <li>Checking your spelling, Clean some invalid characters in search</li>
                </ul>
            </div>
            <script type="text/javascript">
        gaEvent.track.notFound('@HttpUtility.JavaScriptStringEncode(Model.query)');
            </script>
            }
            <script type="text/javascript">
        gaEvent.track.searched('@HttpUtility.JavaScriptStringEncode(Model.query)');
            </script>

            }
            <input type="hidden" id="input_trackId" />
            <input type="hidden" id="input_trackName" />
            <input type="hidden" id="input_from" />
